body {
    font-family: "Alegreya";
    color: #000;
}

.content {
    display: block;
    margin-top: 30px;
    margin: 0 auto;
    text-align: center;
    width: 600px;
    padding: 20px;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #00bfff;
}
.content .octicon-primitive-dot {
    padding: 6px;
    font-size: 11px;
    color: #696969;
    vertical-align: 2px;
}
