body {
    font-family: "Raleway"; /*Why using Raleway font if it is not being used anywhere in this page? Can be removed if it is not necessary.*/
}
.home-container {
    margin: 2% auto;
    text-align: center;
    width: 600px; /*min-width not necessary*/
    padding: 20px;
    font-family: "Alegreya";
}
.home-header {
    text-align: center;
    font-size: 3em; /* Good Practise to write fonts in ems than in px. */
    margin: 0;
}
.note {
    text-align: center;
    border: 1px dashed grey;
    padding: 5%; /*Let the CSS do the calculation since the outer div has 600px width*/
    margin: 20px auto; /*Instead of <br> tags*/
}
.launch .octicon-primitive-dot {
    color: #696969; /*Always good to use hex codes!*/
    padding: 6px;
    font-size: 0.688em;
    /* Vertical align not needed */
}
.sign-up {
    color: #2F4F4F;
}
.begin {
    color: #ED143D;
}
.launch a {
    text-decoration: none;
}
.launch a:hover,:focus {
    border: none;
    outline: none;
}
.before {
    color: #000;
}
