body {
    background-color: #fff;
    color: #000;
    font-family: "Alegreya";
}
.login-container {
    margin: 20px auto;
    text-align: center;
    width: 500px;
    padding: 2%;
}
.login-header {
    font-size: 40px;
    margin: 0 auto;
}
.login-text {
    margin: 0 auto;
    margin-top: 20px;
    width: 300px;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: #00bfff;
}
a:hover {
    background-color: #000;
    padding: 1px 3px;
    color: #fff;
}
.force-login {
    margin: 0 auto;
    font-size: 14px;
    width: 300px;
    background-color: #9ACD32;
    border-radius: 2px;
    padding: 4px;
    text-align: center;
}
.force-login .octicon-question {
    font-size: 12px;
}
.login-form {
    margin: 0 auto;
    text-align: center;
    width: 400px;
    padding: 4%;
    border: 1px dashed #a9a9a9;
}
.login-form .octicon {
    font-size: 13px;
    vertical-align: 4px;
    padding-left: 2px;
}
.login-form-label {
    font-size: 15px;
    text-align: center;
    width: 150px;
    float: left;
}
.login-form-input {
    color: black;
    padding: 2px;
    font-size: 14px;
    width: 180px;
    vertical-align: 5px;
    border: 1px dotted #808080;
}
.login-form-input:focus {
    outline: none;
    color: #000;
    border: 1px dotted #000;
}
.login-button {
    font-size: 14px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    background-color: #87CEEB;
    padding: 4px 8px;
}
.login-button:focus {
    color: #fff;
    outline: none;
    background-color: #000;
}
.login-button:hover {
    color: #fff;
    border: none;
    background-color: #000;
}
.login-error {
    margin: 0 auto;
    text-align: center;
    font-family: "Inconsolata";
    font-size: 12px;
    border-radius: 2px;
    width: 200px;
    border: 0.5px dotted #ff0000;
    padding: 4px;
}
.login-error .octicon-issue-opened {
    size: 12px;
    vertical-align: -1px;
    color: #ED143D;
}
