body {
    font-family: "Alegreya";
    color: black;
}
.register-container {
    margin-top: 30px;
    margin: 0 auto;
    text-align: center;
    width: 600px;
    padding: 2%;
}
.register-header {
    font-size: 40px;
}
.register-text {
    font-size: 16px;
    text-align: center;
}
.register-form {
    margin: 0 auto;
    text-align: center;
    width: 500px;
    padding: 3%;
    box-sizing: border-box;
    border: 0.5px dashed #000;
}
.register-form .octicon{
    font-size: 12px;
    vertical-align: 6px;
}
.reg-form-label {
    font-size: 15px;
    text-align: right;
    width: 150px;
    float: left;
}
.reg-form-input {
    color: #000;
    padding: 2px;
    font-size: 14px;
    font-family: "Alegreya";
    width: 300px;
    vertical-align: 5px;
    border: 0.5px solid #808080;
}
.reg-form-input:focus {
    outline: none;
    color: #000;
    border: 0.5px solid #87ceeb;
}
.register-button {
    font-family: "Alegreya";
    font-size: 14px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    background-color: #ffd700;
    padding: 6px;
}
.register-button:focus {
    outline: none;
    background-color: #9acd32;
}
.register-button:hover {
    border: none;
    background-color: #9acd32;
}
.validate-error {
    margin: 0 auto;
    font-family: "Inconsolata";
    width: 250px;
    font-size: 12px;
    border-radius: 2px;
    padding: 4px;
    text-align: center;
    border: 1px dotted #dc143c;
}
.validate-error .octicon-x {
    font-size: 11px;
    vertical-align: -0.5px;
    color: #ff0000;
}
.confirm {
    margin: 0 auto;
    font-family: "Inconsolata";
    font-size: 12px;
    background-color: #000;
    padding: 2px 1px 2px 1px;
    border-radius: 2px;
    width: 200px;
    color: #fff;
}
.confirm .octicon-check {
    font-size: 11px;
    padding: 1px;
    color: #adff2f;
}
a {
    text-decoration: none;
    color: #00bfff;
}
a:hover,:focus {
    border: none;
    outline: none;
}
