<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Rules -- Mindsweeper v5.0</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/finish.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/octicons/octicons.css')  }}">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans|Alegreya|Karla|Arvo|Montserrat|Inconsolata" >
    </head>
    <body>
        <div class="content">
            <h1>Mindsweeper v5.0</h1>
            <p>What is Mindsweeper, you ask?<br>
            Mindsweeper is the official Utsav online treasure hunt.
            An online treasure hunt is a game of wits and intellect. We suggest you use Google as much as you can,
            Yahoo if you want, but Bing is just pushing it. Don't you dare open that. It's like Pandora's Box. It will try
            to install Microsoft Edge and all sorts of crap on your system
            But don't worry. You'll do fine. It's not all that difficult and you'll have fun too! More fun than you
            probably would have watching Batman vs. Superman in IMAX.</p>

            <p>We feel like we must apologize for delaying and finally postponing the event. So, <a href="http://goo.gl/aIpjJI" target="_blank">here’s</a> a picture of Jennifer Lawrence to make it up to you.<br>Now that we’ve got that over with...
            </p>

            -- Here’s how you play our game --
            <ul style="list-style-type: none; text-align: left;">
            <li>1. In Project Mindsweeper you have a name. So enter that and decide a password, and you can
            begin!</li>
            <li>2. The objective of the game is simple, to get to the next level.</li>
            <li>3. You’ll need to download the <a href="https://www.zwibe.me/" target="_blank">Zwibe</a> app to pass a total of 4 levels in the game. So make sure you
            download it <a href="https://goo.gl/EPb6Ap" target="_blank">here</a>. They’re fairly simple as well.</li>
            <li>4. There are multiple ways of going to the next level:
            <ul style="list-style-type: none; text-align: left;">
            <li>a. Clicking on sections of an image</li>
            <li>b. Typing an answer into the answer box.</li>
            <li>c. Changing the URL.</li>
            </ul>
            </li>
            <li>5. The answers are not case­-sensitive, which means that if you type “Machi Rediyaa?” or “machi
            rediyaa?”it wouldn’t make a difference.</li>
            <li>6. We try to cover most possible answers for a level, but keep trying for the right combination.</li>
            <li>7. Now, the clues, oh my God, look at the joy on your face, ‘we get effing clues!’. The clues can be
            found:
            <ul style="list-style-type: none; text-align: left;">
            <li>a. In the page source (right click and click on ‘View Page Source’).</li>
            <li>b. The title of the level page.</li>
            <li>c. The URL.</li>
            </ul>
            </li>
            <li>8. There are some levels which require you to manipulate the URL of the page for either a hint or
            the answer itself, you will know when you have to do so. Either change the last element, or add
            an extension.</li>
            <li>9. Adding an extension to the URL will present you with a downloadable file, like .mp3, .png, .jpg,
            or .txt.</li>
            <li>10. There are also some levels which lead you down a wrong path, so tread lightly. (Heisenberg
            eshtyle)</li>
            <li>11. Most importantly, on the <a href="https://www.facebook.com/events/237585626590435/" target="_blank">Facebook event page</a> there will be discussion forums for every five levels. Make sure you only discuss the finding of the answer there without revealing
            major hints or the answer itself.</li>
            <li>12. Any revelation of the answer on these forums will lead to disqualification.</li>
            <li>13. And you are welcome to discuss solving the treasure hunt with your friends in exchange for
            recreational substances (also the organisers). But don't provide others with direct answers, it is a
            competition after all and you can use Google. Doing that would be tantamount to saying they're
            better than Google.</li>
            <li>14. We have no restrictions on the number of attempts, so do abuse this rule outrightly. We must
            mention that there is one keyword that will get you through every level. We call this the Skeleton
            Key.</li>
            <li>15. As the difficulty levels increase, so does our reluctance to give out obvious clues. In case we find
            many players to be stuck at certain levels, a blatant push will be provided from our end. But the
            later levels of the game are made in such a way that players will have to spend some time
            wrapping their head around the clues, rather than expect the same to be solved in a matter of
            minutes.</li>
            <li>16. Do try your best, and be a little patient as far as hints are concerned.</li>
            </ul>
            --- Finally your organisers ---<br>
            For any queries, contact message the Utsav page I’ve added my number there, just in case. *wink* .<br>
            <a href="https://www.facebook.com/gatti.praveen" target="_blank">Praveen Gatti</a> ­ +919632880540
            <br>
            <p style="font-size: 13px;">
            With special thanks to Shrinidhi “Yahoo-man” Kaushik, Swaraj “Bong-bro” Kate, and Varsha “Dangli” Varadarajan
            </p>
            <b>May the Force be with you.</b>
            <p><a href="/">home</a><span class="octicon octicon-primitive-dot"></span>
            <a href="/login">begin</a></p>
            <br>
        </div>
    </body>
</html>
